<header>
     
<div class="wrapper">
   <%= link_to "Himanshu Patel", root_path, id: "brand" %>
   <a href="#" class="burger-nav fa fa-1x fa-bars">Menu</a>
  <nav class="nav-main">
    
         <ul>
              <li class= "<%= active_class(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class= "<%= active_class(about_path) %>"><%= link_to "About", about_path %></li>
              <li class= "<%= active_class(articles_path) %>"><%= link_to "Blog", articles_path %></li>
              <li class= "<%= active_class(designs_path) %>"><%= link_to "Designs", designs_path %></li>
              <li class= "<%= active_class(development_path) %>"><%= link_to "Development", development_path %></li>
              <li class= "<%= active_class(root_path) %>"><%= link_to "Achievements", root_path %></li>
            </ul>
  </nav>
</div>
</header>